<div class="about">
    <h1>Über uns</h1>
    <p>
        Willkommen bei Hot Hardware Hub, Ihrem zuverlässigen Partner für hochwertige IT-Lösungen 
        im B2B-Bereich. <br>
        Wir bieten Ihnen eine breite Auswahl an Laptops, Desktop-PCs, Monitoren und Zubehör, 
        die speziell auf die Anforderungen moderner Arbeitsplätze und das Home Office zugeschnitten sind. <br>
        Unser Ziel ist es, Ihnen nicht nur erstklassige Produkte, sondern auch einen professionellen Service zu bieten.
    </p>

    <h2>Unsere Vision</h2>
    <p>
        Wir möchten die erste Wahl für Unternehmen sein, wenn es um IT-Hardware geht. <br>
        Dabei setzen wir auf Qualität, Innovation und langfristige Partnerschaften. <br>
        Mit einem starken Fokus auf Nachhaltigkeit und Effizienz schaffen wir maßgeschneiderte Lösungen, 
        die Ihre Geschäftsprozesse optimal unterstützen und zukunftssicher gestalten.
    </p>

    <h2>Kontakt</h2>
    <p>
        E-Mail: 
        <a href="mailto:hothardwarehub@gmail.com">hothardwarehub&#64;gmail.com</a>
    </p>
    <p>
        Telefon: +49 123 456789
    </p>
</div>
