<form (ngSubmit)="login()">
    <h2>Anmeldung</h2>

    <div>
        <label for="email">E-Mail-Adresse</label>
        <input id="email" type="email" [(ngModel)]="email" name="email" placeholder="example@firma.com" required>
    </div>

    <div>
        <label for="password">Passwort</label>
    <input id="password" type="password" [(ngModel)]="password" name="password" placeholder="********" required>
    </div>
    
    <div class="remember-me">
        <input id="rememberMe" type="checkbox">
    <label for="rememberMe">Angemeldet bleiben</label>
    </div>

    <div>
        <button type="submit">Anmelden</button>
        <button type="reset" (click)="navigateToStartseite()">Abbrechen</button>
    </div>

    <div class="forgot-password">
        <a href="#">Passwort vergessen?</a>
    </div>
</form>
