<form [formGroup]="productForm">
    <div *ngFor="let post of products; trackBy: trackByItemId" class="product-container">
        <div class="product-card">
            <img [src]="post.item_details.images[post.item_id-1].image" alt="Produktbild" class="product-image">
            <h1 class="product-title">{{ post.item_details.item_description }}</h1>
            <p class="product-price">{{ post.item_price }} €</p>
            <p class="product-tax">exkl. 19% USt</p>
            <p class="product-stock">Lagerbestand: 10</p>

        <div class="quantity-selector">
            <label [for]="'quantity-' + post.item_id">Anzahl:</label>
            <input [formControlName]="'quantity-' + post.item_id" [id]="'quantity-' + post.item_id" type="number" min="1" value="1">
        </div>

        <button class="add-to-cart-btn" (click)="addToCart(post.item_id)">Zum Warenkorb hinzufügen</button>
        </div>
    </div>
</form>